# Strings

" ", ' ', ` """ """ `

- A string is a sequence of charachters.
- Computers donot deal with charachters.They deal with numbers(binary). Even though you may see charachters on your screen,   internally its stored and manipulated as a combination of 0's and 1's.
- This conversion of a charachter to a numer is called encoding. The reverse process is called decoding. ASCII and unicode   are some of the popular encoding used.
- In Python string is a sequence of unicode charachter.

In [1]:
strings = 'Hello'
print(strings)

strings = "Hello"
print(strings)

strings = '''Hello'''
print(strings)

Hello
Hello
Hello

### Delete a String

In [2]:
del strings

In [3]:
strings

NameError: name 'strings' is not defined

In [4]:
text1 = ("Maq AI Ltd")
print(text1)

Maq AI Ltd

In [5]:
text = ("Python Program")
text

'Python Program'

In [6]:
type(text1)

str

In [7]:
type(text)

str

### len()

- Gives you length or width of the string

In [8]:
text = "wild dog"
len(text)

14

### Indexing and Slicing

- Indexing the postion of each charchter in a string
- Slicing is piece of the value of a string
- Its denoted by ` [] `
- We can access induvidual charachters using indexing and a range of charachters using slicing
- Indexing starts from `0`
- Trying to access a charahcter out of teh index range will throw an error
- The index must be an interger. We cant use float or other types, this will result into    
  TypeError
- Python allows negative indexing for its sequences

In [9]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [10]:
#printing 1st charachter
text[0]

'P'

In [11]:
#printing Pyt
text[0] + text[1] + text[2]

'Pyt'

In [12]:
#printing 'P', 'y', 't'
text[0] , text[1] , text[2]

('P', 'y', 't')

In [13]:
#printing last element
text[13]
text[-1]

'm'

'm'

In [14]:
#printing last 3rd char of the value
text[-3]

'r'

In [15]:
#printing last three charachters
text[-3] + text[-2] + text[-1]

'ram'

In [16]:
#print last charachter of the string
text[len(text)-1]

'm'

### Range `[:]`

- `[start position : stop position]`
- If stop is nth position then it gives (n-1)th position values

In [17]:
text[:]

'Python Program'

In [18]:
text[0:5]

'Pytho'

In [19]:
#print Python
text[0:6]

'Python'

In [20]:
#print last three elements
text[11:14]
text[11:]
text[-3:]

'ram'

'ram'

'ram'

### [Start : Stop : Step]

In [21]:
text[0:6:1]

'Python'

In [22]:
text[::-1]

'margorP nohtyP'

In [23]:
text[-2:-8:-1]

'argorP'

In [24]:
#print 'pto'
text[0:5:2]

'Pto'

In [25]:
text = '''Python is a intrepreted high-level general-purpose programming language.
First released in 1991, Python's design philosophy emphasizes code readability 
with its notable use of significant white space. Its language constructs and object oriented approach 
aims to help progrmmaers clear, [], . ss @ logical code for small and large scale projects'''

In [26]:
text

"Python is a intrepreted high-level general-purpose programming language.\nFirst released in 1991, Python's design philosophy emphasizes code readability \nwith its notable use of significant white space. Its language constructs and object oriented approach \naims to help progrmmaers clear, [], . ss @ logical code for small and large scale projects"

In [27]:
type(text)

str

In [28]:
len(text)

346

In [29]:
text.lower()

"python is a intrepreted high-level general-purpose programming language.\nfirst released in 1991, python's design philosophy emphasizes code readability \nwith its notable use of significant white space. its language constructs and object oriented approach \naims to help progrmmaers clear, [], . ss @ logical code for small and large scale projects"

In [30]:
text

"Python is a intrepreted high-level general-purpose programming language.\nFirst released in 1991, Python's design philosophy emphasizes code readability \nwith its notable use of significant white space. Its language constructs and object oriented approach \naims to help progrmmaers clear, [], . ss @ logical code for small and large scale projects"

In [31]:
text.upper()

"PYTHON IS A INTREPRETED HIGH-LEVEL GENERAL-PURPOSE PROGRAMMING LANGUAGE.\nFIRST RELEASED IN 1991, PYTHON'S DESIGN PHILOSOPHY EMPHASIZES CODE READABILITY \nWITH ITS NOTABLE USE OF SIGNIFICANT WHITE SPACE. ITS LANGUAGE CONSTRUCTS AND OBJECT ORIENTED APPROACH \nAIMS TO HELP PROGRMMAERS CLEAR, [], . SS @ LOGICAL CODE FOR SMALL AND LARGE SCALE PROJECTS"

In [32]:
text = text.lower()#store in a variable for permanent change
text

"python is a intrepreted high-level general-purpose programming language.\nfirst released in 1991, python's design philosophy emphasizes code readability \nwith its notable use of significant white space. its language constructs and object oriented approach \naims to help progrmmaers clear, [], . ss @ logical code for small and large scale projects"

In [33]:
 text.title() #first letter of every letter turns upper case

"Python Is A Intrepreted High-Level General-Purpose Programming Language.\nFirst Released In 1991, Python'S Design Philosophy Emphasizes Code Readability \nWith Its Notable Use Of Significant White Space. Its Language Constructs And Object Oriented Approach \nAims To Help Progrmmaers Clear, [], . Ss @ Logical Code For Small And Large Scale Projects"

In [34]:
text.endswith('.')

False

In [35]:
text.endswith('s')

True

In [36]:
text.endswith('.',0,6) #suffix, start , end

False

In [37]:
text.count('ed') #count the no:of times the values is present in the string

3

In [38]:
text.count('ed',0,30) #ed between 0 and 30 index position

1

In [39]:
text.find('ed') #first lower index

21

In [40]:
text.find('ed',0,15) #find the value from a range

-1

In [41]:
text

"python is a intrepreted high-level general-purpose programming language.\nfirst released in 1991, python's design philosophy emphasizes code readability \nwith its notable use of significant white space. its language constructs and object oriented approach \naims to help progrmmaers clear, [], . ss @ logical code for small and large scale projects"

## Note:

- Python String is immutable, so its not possible to change the original string directly.
- But we can construct a new string by extracting parts from original string or use `replace()`
  method on the original string

In [42]:
text = text.replace("-"," ") #old, new
text = text.replace(","," ")
text = text.replace("@","")
text = text.replace("["," ")
text = text.replace("]"," ")
text = text.replace("'","")
text = text.replace(" "," ")
text = text.replace("\n","")
text = text.replace(".","")
text = text.replace("ed","ing",2)

In [43]:
text

'python is a intrepreting high level general purpose programming languagefirst releasing in 1991  pythons design philosophy emphasizes code readability with its notable use of significant white space its language constructs and object oriented approach aims to help progrmmaers clear       ss  logical code for small and large scale projects'

### Converting from String to List

In [44]:
list1 = text.split() #string to list of words
list1

['python',
 'is',
 'a',
 'intrepreting',
 'high',
 'level',
 'general',
 'purpose',
 'programming',
 'languagefirst',
 'releasing',
 'in',
 '1991',
 'pythons',
 'design',
 'philosophy',
 'emphasizes',
 'code',
 'readability',
 'with',
 'its',
 'notable',
 'use',
 'of',
 'significant',
 'white',
 'space',
 'its',
 'language',
 'constructs',
 'and',
 'object',
 'oriented',
 'approach',
 'aims',
 'to',
 'help',
 'progrmmaers',
 'clear',
 'ss',
 'logical',
 'code',
 'for',
 'small',
 'and',
 'large',
 'scale',
 'projects']

In [45]:
len(list1)

48

In [46]:
type(list1)

list

In [47]:
list1[0]

'python'

In [48]:
string = ' '.join(list1)
string

'python is a intrepreting high level general purpose programming languagefirst releasing in 1991 pythons design philosophy emphasizes code readability with its notable use of significant white space its language constructs and object oriented approach aims to help progrmmaers clear ss logical code for small and large scale projects'

In [49]:
import numpy as np
import pandas as pd

In [50]:
x= [' , Redmi Note 7 Pro (Neptune Blue, 64 GB) , Redmi Note 7 Pro (Space Black, 64 GB) , Redmi Note 7 Pro (Nebula Red, 64 GB) , Redmi Note 7 Pro (Astro Moonlight White, 64 GB) , Redmi Note 6 Pro (Black, 64 GB) , Redmi Note 6 Pro (Red, 64 GB) , Redmi Note 6 Pro (Blue, 64 GB) , Mi A2 (Red, 128 GB) , Redmi Note 6 Pro (Rose Gold, 64 GB) , Redmi Note 5 Pro (Blue, 64 GB) , Redmi Note 5 Pro (Red, 64 GB) , Redmi Note 5 Pro (Gold, 64 GB) , Mi A2 (Lake Blue, 128 GB) , Mi A2 (Black, 128 GB) , Mi A2 (Gold, 128 GB) , Redmi Note 5 Pro (Black, 64 GB) , Redmi Note 5 Pro (Rose Gold, 64 GB)']

In [51]:
x

[' , Redmi Note 7 Pro (Neptune Blue, 64 GB) , Redmi Note 7 Pro (Space Black, 64 GB) , Redmi Note 7 Pro (Nebula Red, 64 GB) , Redmi Note 7 Pro (Astro Moonlight White, 64 GB) , Redmi Note 6 Pro (Black, 64 GB) , Redmi Note 6 Pro (Red, 64 GB) , Redmi Note 6 Pro (Blue, 64 GB) , Mi A2 (Red, 128 GB) , Redmi Note 6 Pro (Rose Gold, 64 GB) , Redmi Note 5 Pro (Blue, 64 GB) , Redmi Note 5 Pro (Red, 64 GB) , Redmi Note 5 Pro (Gold, 64 GB) , Mi A2 (Lake Blue, 128 GB) , Mi A2 (Black, 128 GB) , Mi A2 (Gold, 128 GB) , Redmi Note 5 Pro (Black, 64 GB) , Redmi Note 5 Pro (Rose Gold, 64 GB)']

In [52]:
type(x)

list

In [53]:
b=[]
for i in x:
    b.append(i.split(')'))
    
b

[[' , Redmi Note 7 Pro (Neptune Blue, 64 GB',
  ' , Redmi Note 7 Pro (Space Black, 64 GB',
  ' , Redmi Note 7 Pro (Nebula Red, 64 GB',
  ' , Redmi Note 7 Pro (Astro Moonlight White, 64 GB',
  ' , Redmi Note 6 Pro (Black, 64 GB',
  ' , Redmi Note 6 Pro (Red, 64 GB',
  ' , Redmi Note 6 Pro (Blue, 64 GB',
  ' , Mi A2 (Red, 128 GB',
  ' , Redmi Note 6 Pro (Rose Gold, 64 GB',
  ' , Redmi Note 5 Pro (Blue, 64 GB',
  ' , Redmi Note 5 Pro (Red, 64 GB',
  ' , Redmi Note 5 Pro (Gold, 64 GB',
  ' , Mi A2 (Lake Blue, 128 GB',
  ' , Mi A2 (Black, 128 GB',
  ' , Mi A2 (Gold, 128 GB',
  ' , Redmi Note 5 Pro (Black, 64 GB',
  ' , Redmi Note 5 Pro (Rose Gold, 64 GB',
  '']]

In [54]:
b

[[' , Redmi Note 7 Pro (Neptune Blue, 64 GB',
  ' , Redmi Note 7 Pro (Space Black, 64 GB',
  ' , Redmi Note 7 Pro (Nebula Red, 64 GB',
  ' , Redmi Note 7 Pro (Astro Moonlight White, 64 GB',
  ' , Redmi Note 6 Pro (Black, 64 GB',
  ' , Redmi Note 6 Pro (Red, 64 GB',
  ' , Redmi Note 6 Pro (Blue, 64 GB',
  ' , Mi A2 (Red, 128 GB',
  ' , Redmi Note 6 Pro (Rose Gold, 64 GB',
  ' , Redmi Note 5 Pro (Blue, 64 GB',
  ' , Redmi Note 5 Pro (Red, 64 GB',
  ' , Redmi Note 5 Pro (Gold, 64 GB',
  ' , Mi A2 (Lake Blue, 128 GB',
  ' , Mi A2 (Black, 128 GB',
  ' , Mi A2 (Gold, 128 GB',
  ' , Redmi Note 5 Pro (Black, 64 GB',
  ' , Redmi Note 5 Pro (Rose Gold, 64 GB',
  '']]

In [55]:
b[0][1]

' , Redmi Note 7 Pro (Space Black, 64 GB'

In [56]:
  z= [' , 4.5 , 4.5 , 4.5 , 4.5 , 4.5 , 4.5 , 4.5 , 4.1 , 4.5 , 4.5 , 4.5 , 4.5 , 4.1 , 4.1 , 4.1 , 4.5 , 4.5']

In [57]:
c=[]

In [58]:
for i in z:
    c.append(i.split(','))

In [59]:
c

[[' ',
  ' 4.5 ',
  ' 4.5 ',
  ' 4.5 ',
  ' 4.5 ',
  ' 4.5 ',
  ' 4.5 ',
  ' 4.5 ',
  ' 4.1 ',
  ' 4.5 ',
  ' 4.5 ',
  ' 4.5 ',
  ' 4.5 ',
  ' 4.1 ',
  ' 4.1 ',
  ' 4.1 ',
  ' 4.5 ',
  ' 4.5']]

In [60]:
f =pd.DataFrame(c)

In [61]:
f

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,,4.5,4.5,4.5,4.5,4.5,4.5,4.5,4.1,4.5,4.5,4.5,4.5,4.1,4.1,4.1,4.5,4.5

In [63]:
df = pd.DataFrame({'Products':x, 'Prices':z})

In [64]:
df

,Products,Prices
0,", Redmi Note 7 Pro (Neptune Blue, 64 GB) , Re...",", 4.5 , 4.5 , 4.5 , 4.5 , 4.5 , 4.5 , 4.5 , 4..."