## Python Collection Data Types/Structures:

- `List` is a collection which is `ordered` and `changeable`. Allows `duplicate` members [ ]
- `Tuple` is a collection which is `ordered` and `unchangeable`. Alows `duplicate` members ( )
- `Set` is a collection which is `unordered` and `unindexed`. `No duplicate` members { }
- `Dictionary` is a collection which is `unordered`, `changeable` and `indexed`. `No duplicate`  
   members{ }

## List

- It is a sequence and collection of different data types
- Its mutable ( changeable)
- A collecton of data which are normally related and rather storing these data as sepearte  
  variables , we can store them as lists.
- Declaring a list is, items seperated by commas are enclosed within brackets [ ].

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
text1 = 'A B C D E F'
print(text1)

text2 = 'ABCDEF'
print(text2)

A B C D E F
ABCDEF

In [3]:
len(text1)
len(text2)

11

6

In [4]:
len(text2)

6

### Converting string to List method 1

In [5]:
#string to list
text1.split()

['A', 'B', 'C', 'D', 'E', 'F']

In [6]:
text2.split()

['ABCDEF']

- Tab for checking pre-defined function and methods
- Shift + Tab for checking possible parameters in a function

In [4]:
text2.split(sep='C', maxsplit=-1)

['AB', 'DEF']

In [5]:
text3 = ('ABCDCDCEF')
text3.split(sep='C', maxsplit=2)

['AB', 'D', 'DCEF']

### Create a list

In [6]:
#[ ]
my_list = ['blackB',1,2,3,5.5,True,False]
my_list

['blackB', 1, 2, 3, 5.5, True, False]

In [7]:
type(my_list)

list

### Indexing : calling from its postiion

- print 1st element
- print last element
- print 1st three elements
- print last three elements
- print alternate elements starting with innomatics
- print alternate elements starting with Research
- print my_list reverse order

In [8]:
my_list[:]# all values

['blackB', 1, 2, 3, 5.5, True, False]

In [9]:
my_list[0]

'blackB'

In [10]:
my_list[6]
my_list[-1]

False

False

In [11]:
my_list[0:3]

['blackB', 1, 2]

In [15]:
my_list[-3:]
my_list[6:]
my_list[6:9]

[5.5, True, False]

[False]

[False]

In [27]:
my_list[::2] # skip by 2

['Maq.ai', 2, 5.5, False]

In [8]:
my_list[1::2]

[1, 3, True]

In [10]:
my_list[-1::-2]

[False, 5.5, 2, 'Maq.ai']

### List items are changeable

In [11]:
my_list[3]= 'Data Science'
my_list

['Maq.ai', 1, 2, 'Data Science', 5.5, True, False]

### Methods or built-in function

- `append(), extend(), insert(), count(), pop(), remove(), reverse(), sort()`

### `append( )` --> to join

In [31]:
#method 1 for appending

my_list.append('AI')
my_list

['Maq.ai', 1, 2, 'Data Science', 5.5, True, False, 'AI']

In [12]:
my_list.append(['Stats','ML'])#takes only one values thats why u get an error
my_list

['Maq.ai', 1, 2, 'Data Science', 5.5, True, False, ['Stats', 'ML']]

In [33]:
my_list.append(['Stats','ML'])
my_list

['Maq.ai', 1, 2, 'Data Science', 5.5, True, False, 'AI', ['Stats', 'ML']]

In [13]:
my_list.extend(['Hyd','Gachibowli'])# extend takes more than one value and prints seperately unlike append
my_list

['Maq.ai',
 1,
 2,
 'Data Science',
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Hyd',
 'Gachibowli']

**NOTE: L.append() takes only one argument or object or element

In [16]:
my_list.insert(1,'DL')
my_list

['Maq.ai',
 'DL',
 1,
 2,
 'Data Science',
 'DL',
 5.5,
 True,
 False,
 ['Stats', 'ML'],
 'Hyd',
 'Gachibowli']

In [37]:
my_list.append('Telangana')

In [38]:
my_list

['Maq.ai',
 1,
 2,
 'Data Science',
 'DL',
 5.5,
 True,
 False,
 'AI',
 ['Stats', 'ML'],
 'Hyd',
 'Nizampet',
 'Hyd',
 'Gachibowli',
 'Telangana']

In [39]:
my_list.pop()#gets rid of last value by default else gets rid of the mentioned indexed value

'Telangana'

In [40]:
my_list

['Maq.ai',
 1,
 2,
 'Data Science',
 'DL',
 5.5,
 True,
 False,
 'AI',
 ['Stats', 'ML'],
 'Hyd',
 'Nizampet',
 'Hyd',
 'Gachibowli']

In [41]:
my_list.pop(4)

'DL'

In [42]:
my_list

['Maq.ai',
 1,
 2,
 'Data Science',
 5.5,
 True,
 False,
 'AI',
 ['Stats', 'ML'],
 'Hyd',
 'Nizampet',
 'Hyd',
 'Gachibowli']

In [44]:
my_list.reverse()

In [45]:
my_list

['Gachibowli',
 'Hyd',
 'Nizampet',
 'Hyd',
 ['Stats', 'ML'],
 'AI',
 False,
 True,
 5.5,
 'Data Science',
 2,
 1,
 'Maq.ai']