## Tuple

- Collection of elements with different data types
- Tuple is an ordered sequence of items same as list
- The only different is that tuples are immutable. Tuples once created cannot be modified.
- Tuples are just like lists, but you canot modify their values. The initial values are the values that will stay for the rest of the program.
- The easiest way to create one is with a comma seperated sequence of values.
- created by ( ) and tuple( )

In [1]:
tup = 10,20,30 # by default everything is a tuple
tup

(10, 20, 30)

In [4]:
type(tup)

tuple

### Convert any sequence or iterator to a tuple by invoking tuple function

In [2]:
tup1 = [40,50,60,"AI","ML"]
tup1

[40, 50, 60, 'AI', 'ML']

In [3]:
type(tup1)

list

In [4]:
tup2 = tuple(tup1)  #converted from list to tuple

In [ ]:
type(tup2)

In [7]:
tup3 = (4,3,2,7)
type(tup3)

tuple

In [10]:
tuple('Python')   #using strings

('P', 'y', 't', 'h', 'o', 'n')

In [9]:
tup2[0]

40

In [8]:
tup2

(40, 50, 60, 'AI', 'ML')

### Converting into list from tuple

- To make changes to a tuple convert it to a list and then make changes as tuple doesnt accept 
  changes

In [9]:
list1 = list(tup2)

In [10]:
list1

[40, 50, 60, 'AI', 'ML']

In [11]:
list1.append('DL')

In [12]:
list1

[40, 50, 60, 'AI', 'ML', 'DL']