## Dictionaries

- Dictionary is an unordered collection of key-value pairs.
- In Python, dictionaries are defined within braces { } with each item being a pair in the form 
  key:value. Key and value can be of any type
- To declare a dictionary , you write dictionaryName = {dictionary key : data}

In [1]:
my_dict = {'key1':'value1','key2':'value2','key3':'value3','key4':'value4'}
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [4]:
my_dict = {'key1':'value1','key1':'value2','key3':'value3','key4':'value4'}#notice how when same key it picks one of the 
                                                                    #two values of the key1
my_dict

{'key1': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [5]:
xmendict = {"name": "ramesh",, "year":4, "branch":"ece"}
xmendict

{'name': 'ramesh', 'year': 4, 'branch': 'ece'}

In [5]:
type(my_dict)

dict

In [4]:
list1= ['value1','value2','value3','value4']
list1

['value1', 'value2', 'value3', 'value4']

In [5]:
len(my_dict)

3

In [6]:
my_dict['key1']

'value2'

In [8]:
my_dict['key5']

KeyError: 'key5'

### Using get( )

In [7]:
my_dict.get('key2')

In [13]:
#
student_list = {'student name':['mahe','bhav','sow'], 'branch':['cs','ec','me'], 'year':[2016,2018,2019]}
student_list

{'student name': ['mahe', 'bhav', 'sow'],
 'branch': ['cs', 'ec', 'me'],
 'year': [2016, 2018, 2019]}

In [12]:
student_list.get('key2')

#len(student_list)

None

In [12]:
emp['Name']

['Virat', 'Rohit', 'Dhoni']

In [13]:
emp['Age']

[30, 32, 38]

In [14]:
emp['Designation']

['Captain', 'VC', 'Wk']

### Creating a new key

In [15]:
emp['Runs']= [11286, 8658, 10773]
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773]}

In [16]:
emp.get('Age')

[30, 32, 38]

In [17]:
emp_1 = emp.copy()
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773]}

In [18]:
emp_1.items() #returns keys and values

dict_items([('Name', ['Virat', 'Rohit', 'Dhoni']), ('Age', [30, 32, 38]), ('Designation', ['Captain', 'VC', 'Wk']), ('Role', 'Cricketers'), ('Runs', [11286, 8658, 10773])])

In [19]:
emp_1.keys() #returns keys

dict_keys(['Name', 'Age', 'Designation', 'Role', 'Runs'])

In [20]:
emp_1.values() #returns values

dict_values([['Virat', 'Rohit', 'Dhoni'], [30, 32, 38], ['Captain', 'VC', 'Wk'], 'Cricketers', [11286, 8658, 10773]])

In [21]:
emp_1.pop('Designation')

['Captain', 'VC', 'Wk']

In [22]:
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773]}

In [23]:
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773]}

In [24]:
emp_1.update({'Sal': 'xxxx'})
emp_1

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32, 38],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773],
 'Sal': 'xxxx'}

In [25]:
emp['Age']

[30, 32, 38]

In [26]:
emp['Age'][0:2]

[30, 32]

In [27]:
emp['Age'].remove(38)
emp

{'Name': ['Virat', 'Rohit', 'Dhoni'],
 'Age': [30, 32],
 'Designation': ['Captain', 'VC', 'Wk'],
 'Role': 'Cricketers',
 'Runs': [11286, 8658, 10773]}

In [28]:
emp['Role']

'Cricketers'

In [29]:
emp['Role'].lower()

'cricketers'

In [30]:
emp['Role'].replace("Cricketer","players")

'playerss'