<a href="https://colab.research.google.com/github/mohddanish-cse/ai-blackbucks/blob/main/ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Day 1
#####Basics

In [ ]:
x=3
y=4

z=x+y

In [ ]:
z

7

In [ ]:
type(z)

int

In [ ]:
type(print(z))

7

NoneType

In [ ]:
def addth(a=2,b=5):
  return a+b

In [ ]:
addth()

7

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity ="all"

In [ ]:
test1='A B C D'
test2= 'ABCD'

In [ ]:
test1.split()

['A', 'B', 'C', 'D']

In [ ]:
test2.split(sep='B')

['A', 'CD']

In [ ]:
list(range(4,6))

[4, 5]

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

## Day 2
#####Classes
#####Numpy
#####Pandas

In [ ]:
class myprofile():
  def __init__(self,name,age,branch):
    self.name=name
    self.age=age
    self.branch=branch

In [ ]:
s1=myprofile("danish",21,'cse')

In [ ]:
s1

In [ ]:
s1.name

'danish'

In [ ]:
s1.age

21

In [ ]:
s1.branch

'cse'

In [ ]:
class myprofile2:
  def __init__(self,name,age,branch):
    self.name=name
    self.age=age
    self.branch=branch
  def myfunc(self):
    print("Name: "+self.name)

In [ ]:
s2=myprofile2('a',21,'cse')

In [ ]:
s2.myfunc()

Name: a

In [ ]:
import numpy

In [ ]:
numpy.version

In [ ]:
numpy.version.version

'1.19.5'

In [ ]:
import numpy as np

In [ ]:
ar_range= np.array(range(0,11,2))

In [ ]:
ar_range

array([ 0,  2,  4,  6,  8, 10])

In [ ]:
array2= np.array([[[1,2,3],[1,2,3]],[[1,2,3],[1,2,3]]])
array2

array([[[1, 2, 3],
        [1, 2, 3]],

       [[1, 2, 3],
        [1, 2, 3]]])

In [ ]:
array2.shape

(2, 2, 3)

In [ ]:
array2.ndim

3

In [ ]:
array2.dtype
array2.size
array2.nbytes

dtype('int64')

12

96

In [ ]:
import pandas as pd

In [ ]:
dataframe1 = pd.read_csv('/content/sample_data/mnist_train_small.csv')

In [ ]:
dataframe1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Columns: 785 entries, 6 to 0.590
dtypes: int64(785)
memory usage: 119.8 MB

In [ ]:
dataframe1.head()

   6  0  0.1  0.2  0.3  0.4  ...  0.585  0.586  0.587  0.588  0.589  0.590
0  5  0    0    0    0    0  ...      0      0      0      0      0      0
1  7  0    0    0    0    0  ...      0      0      0      0      0      0
2  9  0    0    0    0    0  ...      0      0      0      0      0      0
3  5  0    0    0    0    0  ...      0      0      0      0      0      0
4  2  0    0    0    0    0  ...      0      0      0      0      0      0

[5 rows x 785 columns]

In [ ]:
dataframe1.shape

(19999, 785)

In [ ]:
dataframe1.columns

Index(['6', '0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8',
       ...
       '0.581', '0.582', '0.583', '0.584', '0.585', '0.586', '0.587', '0.588',
       '0.589', '0.590'],
      dtype='object', length=785)

## Day 3

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('insurance.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
data.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [5]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010